//normal/light mode:
//white, black green(s), gray?
//dark mode:
// black, silver, white, drkgreen, lightgreen, greengrey
$tm_green: "rgb(0, 158, 88)";
$tm_green_l: "rgb(99, 155, 118)";
$tm_black: "rgb(33, 33, 33)";
$tm_silver: "rgb(192, 192, 192)";
$tm_white: "rgb(245, 255, 250)";
$tm_sage: "rgb(155, 161, 123)";
$tm_gold: "rgb(198, 188, 0)";
$tm_gold_l: "rgb(255, 255, 00)";
$tm_gold_d: "rgb(109, 89, 0)";
$tm_red: "rgb(242,092,092)";
$tm_alert: "#E7453E";
$tm_gray: "rgba(192,192,192, .8)";
$tm_purple: "#a065ff";
