@import "./variables";
@import "./mixins";
@import "./frames";
@import "./colors";

@include breakpoint(phablet) {
  // $drawerWidth: 640px;
}
html {
  background-color: red;
  font-family: "Fira Sans", sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(
      55deg,
      rgba(208, 208, 208, 0.03) 0%,
      rgba(208, 208, 208, 0.03) 20%,
      rgba(55, 55, 55, 0.03) 20%,
      rgba(55, 55, 55, 0.03) 40%,
      rgba(81, 81, 81, 0.03) 40%,
      rgba(81, 81, 81, 0.03) 60%,
      rgba(208, 208, 208, 0.03) 60%,
      rgba(208, 208, 208, 0.03) 80%,
      rgba(191, 191, 191, 0.03) 80%,
      rgba(191, 191, 191, 0.03) 100%
    ),
    linear-gradient(
      291deg,
      rgba(190, 190, 190, 0.02) 0%,
      rgba(190, 190, 190, 0.02) 14.286%,
      rgba(105, 105, 105, 0.02) 14.286%,
      rgba(105, 105, 105, 0.02) 28.572%,
      rgba(230, 230, 230, 0.02) 28.572%,
      rgba(230, 230, 230, 0.02) 42.858%,
      rgba(216, 216, 216, 0.02) 42.858%,
      rgba(216, 216, 216, 0.02) 57.144%,
      rgba(181, 181, 181, 0.02) 57.144%,
      rgba(181, 181, 181, 0.02) 71.42999999999999%,
      rgba(129, 129, 129, 0.02) 71.43%,
      rgba(129, 129, 129, 0.02) 85.71600000000001%,
      rgba(75, 75, 75, 0.02) 85.716%,
      rgba(75, 75, 75, 0.02) 100.002%
    ),
    linear-gradient(
      32deg,
      rgba(212, 212, 212, 0.03) 0%,
      rgba(212, 212, 212, 0.03) 12.5%,
      rgba(223, 223, 223, 0.03) 12.5%,
      rgba(223, 223, 223, 0.03) 25%,
      rgba(11, 11, 11, 0.03) 25%,
      rgba(11, 11, 11, 0.03) 37.5%,
      rgba(86, 86, 86, 0.03) 37.5%,
      rgba(86, 86, 86, 0.03) 50%,
      rgba(106, 106, 106, 0.03) 50%,
      rgba(106, 106, 106, 0.03) 62.5%,
      rgba(220, 220, 220, 0.03) 62.5%,
      rgba(220, 220, 220, 0.03) 75%,
      rgba(91, 91, 91, 0.03) 75%,
      rgba(91, 91, 91, 0.03) 87.5%,
      rgba(216, 216, 216, 0.03) 87.5%,
      rgba(216, 216, 216, 0.03) 100%
    ),
    linear-gradient(
      312deg,
      rgba(113, 113, 113, 0.01) 0%,
      rgba(113, 113, 113, 0.01) 14.286%,
      rgba(54, 54, 54, 0.01) 14.286%,
      rgba(54, 54, 54, 0.01) 28.572%,
      rgba(166, 166, 166, 0.01) 28.572%,
      rgba(166, 166, 166, 0.01) 42.858%,
      rgba(226, 226, 226, 0.01) 42.858%,
      rgba(226, 226, 226, 0.01) 57.144%,
      rgba(109, 109, 109, 0.01) 57.144%,
      rgba(109, 109, 109, 0.01) 71.42999999999999%,
      rgba(239, 239, 239, 0.01) 71.43%,
      rgba(239, 239, 239, 0.01) 85.71600000000001%,
      rgba(54, 54, 54, 0.01) 85.716%,
      rgba(54, 54, 54, 0.01) 100.002%
    ),
    linear-gradient(
      22deg,
      rgba(77, 77, 77, 0.03) 0%,
      rgba(77, 77, 77, 0.03) 20%,
      rgba(235, 235, 235, 0.03) 20%,
      rgba(235, 235, 235, 0.03) 40%,
      rgba(215, 215, 215, 0.03) 40%,
      rgba(215, 215, 215, 0.03) 60%,
      rgba(181, 181, 181, 0.03) 60%,
      rgba(181, 181, 181, 0.03) 80%,
      rgba(193, 193, 193, 0.03) 80%,
      rgba(193, 193, 193, 0.03) 100%
    ),
    linear-gradient(
      80deg,
      rgba(139, 139, 139, 0.02) 0%,
      rgba(139, 139, 139, 0.02) 14.286%,
      rgba(114, 114, 114, 0.02) 14.286%,
      rgba(114, 114, 114, 0.02) 28.572%,
      rgba(240, 240, 240, 0.02) 28.572%,
      rgba(240, 240, 240, 0.02) 42.858%,
      rgba(221, 221, 221, 0.02) 42.858%,
      rgba(221, 221, 221, 0.02) 57.144%,
      rgba(74, 74, 74, 0.02) 57.144%,
      rgba(74, 74, 74, 0.02) 71.42999999999999%,
      rgba(201, 201, 201, 0.02) 71.43%,
      rgba(201, 201, 201, 0.02) 85.71600000000001%,
      rgba(187, 187, 187, 0.02) 85.716%,
      rgba(187, 187, 187, 0.02) 100.002%
    ),
    linear-gradient(
      257deg,
      rgba(72, 72, 72, 0.03) 0%,
      rgba(72, 72, 72, 0.03) 16.667%,
      rgba(138, 138, 138, 0.03) 16.667%,
      rgba(138, 138, 138, 0.03) 33.334%,
      rgba(54, 54, 54, 0.03) 33.334%,
      rgba(54, 54, 54, 0.03) 50.001000000000005%,
      rgba(161, 161, 161, 0.03) 50.001%,
      rgba(161, 161, 161, 0.03) 66.668%,
      rgba(17, 17, 17, 0.03) 66.668%,
      rgba(17, 17, 17, 0.03) 83.33500000000001%,
      rgba(230, 230, 230, 0.03) 83.335%,
      rgba(230, 230, 230, 0.03) 100.002%
    ),
    linear-gradient(
      47deg,
      rgba(191, 191, 191, 0.01) 0%,
      rgba(191, 191, 191, 0.01) 16.667%,
      rgba(27, 27, 27, 0.01) 16.667%,
      rgba(27, 27, 27, 0.01) 33.334%,
      rgba(66, 66, 66, 0.01) 33.334%,
      rgba(66, 66, 66, 0.01) 50.001000000000005%,
      rgba(36, 36, 36, 0.01) 50.001%,
      rgba(36, 36, 36, 0.01) 66.668%,
      rgba(230, 230, 230, 0.01) 66.668%,
      rgba(230, 230, 230, 0.01) 83.33500000000001%,
      rgba(93, 93, 93, 0.01) 83.335%,
      rgba(93, 93, 93, 0.01) 100.002%
    ),
    linear-gradient(90deg, #fff, #fff);
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='lawngreen' fill-opacity='0.17' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.test2 {
  background-color: crimson;
  border: 3px solid red;
  font-size: "34px";
}
// font-family: 'Quicksand', sans-serif;
// font-family: 'Cormorant Garamond', serif;
