//normal/light mode:
//white, black green(s), gray?
//dark mode:
// black, silver, white, drkgreen, lightgreen, greengrey
$ccbd_blue: rgb(0, 158, 88);
$ccbd_green: rgb(99, 155, 118);
$ccbd_black: rgb(9, 8, 7);
$ccbd_silver: rgb(192,192,192);
$ccbd_mint: rgb(245,255,250);
$ccbd_grey: rgb(155,161,123);

