
$breakpoints: (phone: 640px, 
               tablet: 768px, 
               desktop: 1024px) !default;
$media-expressions: (screen: "screen", 
                     handheld: "handheld",
                     retina2x: 
                     ("(-webkit-min-device-pixel-ratio: 2)", 
                     "(min-resolution: 192dpi)")) !default;
$drawerWidth: 440px;  